---
http_interactions:
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/csv.json
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - F_Rails 52.88.209.40:443
      Etag:
      - '"c94d03fe91ac9e0ff6d483541148fbf6"'
    body:
      encoding: UTF-8
      string: '{"name":"csv","downloads":5530282,"version":"3.2.1","version_created_at":"2021-10-22T21:11:56.697Z","version_downloads":129102,"platform":"ruby","authors":"James
        Edward Gray II, Kouhei Sutou","info":"The CSV library provides a complete
        interface to CSV files and data. It offers tools to enable you to read and
        write to and from Strings or IO objects, as needed.","licenses":["Ruby","BSD-2-Clause"],"metadata":{},"yanked":false,"sha":"7d5c1c2ca73338f3deba4c1730308300795c783b0da9880dc002a362356c376f","project_uri":"https://rubygems.org/gems/csv","gem_uri":"https://rubygems.org/gems/csv-3.2.1.gem","homepage_uri":"https://github.com/ruby/csv","wiki_uri":null,"documentation_uri":"https://www.rubydoc.info/gems/csv/3.2.1","mailing_list_uri":null,"source_code_uri":null,"bug_tracker_uri":null,"changelog_uri":null,"funding_uri":null,"dependencies":{"development":[{"name":"benchmark_driver","requirements":"\u003e=
        0"},{"name":"bundler","requirements":"\u003e= 0"},{"name":"rake","requirements":"\u003e=
        0"},{"name":"test-unit","requirements":"\u003e= 3.4.8"}],"runtime":[]}}'
  recorded_at: Sat, 27 Nov 2021 08:23:03 GMT
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/httpclient.json
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - F_Rails 54.70.75.100:443
      Etag:
      - '"57c406a04d8dac37bd3e6165da91ba02"'
    body:
      encoding: UTF-8
      string: '{"name":"httpclient","downloads":174952605,"version":"2.8.3","version_created_at":"2016-12-09T05:58:57.436Z","version_downloads":140934880,"platform":"ruby","authors":"Hiroshi
        Nakamura","info":"gives something like the functionality of libwww-perl (LWP)
        in Ruby","licenses":["ruby"],"metadata":{},"yanked":false,"sha":"2951e4991214464c3e92107e46438527d23048e634f3aee91c719e0bdfaebda6","project_uri":"https://rubygems.org/gems/httpclient","gem_uri":"https://rubygems.org/gems/httpclient-2.8.3.gem","homepage_uri":"https://github.com/nahi/httpclient","wiki_uri":null,"documentation_uri":"https://www.rubydoc.info/gems/httpclient/2.8.3","mailing_list_uri":null,"source_code_uri":null,"bug_tracker_uri":null,"changelog_uri":null,"funding_uri":null,"dependencies":{"development":[],"runtime":[]}}'
  recorded_at: Sat, 27 Nov 2021 08:23:03 GMT
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/rake.json
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - F_Rails 44.239.42.136:443
      Etag:
      - '"b1fb05274ff86a0dd53f9fa6f8cb3aaf"'
    body:
      encoding: UTF-8
      string: '{"name":"rake","downloads":526497850,"version":"13.0.6","version_created_[...]
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/ruby-progressbar.json
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - F_Rails 52.88.209.40:443
      Etag:
      - '"d39df844d3c002ebdbf8d6aad831664b"'
    body:
      encoding: UTF-8
      string: '{"name":"ruby-progressbar","downloads":207237663,"version":"1.[...]
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/thor.json
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - F_Rails 54.70.75.100:443
      Etag:
      - '"771633bef4f378620f24e744c4564d5f"'
    body:
      encoding: UTF-8
      string: '{"name":"thor","downloads":454939773,"version":"1.1.0","version_created_at[...]
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/rspec.json
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - F_Rails 54.70.75.100:443
      Etag:
      - '"efd4623c54aecd9205f5c5a8f82184a5"'
    body:
      encoding: UTF-8
      string: '{"name":"rspec","downloads":572480317,"version":"3.10.0","version_created[...]
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/rubocop.json
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - F_Rails 44.239.42.136:443
      Etag:
      - '"e13b04c4744ebd87809bc7679c974217"'
    body:
      encoding: UTF-8
      string: '{"name":"rubocop","downloads":193707137,"version":"1.23.0","version_created_at":"2021-11-15T08:10:45.792Z","version_downloads":336976,"platform":"ruby","authors":"Bozhidar
        Batsov, Jonas Arvidsson, Yuji Nakayama","info":"    RuboCop is a Ruby code
        style checking and code formatting tool.\n    It aims to enforce the community-driven
        Ruby Style Guide.\n","licenses":["MIT"],"metadata":{"homepage_uri":"https://rubocop.org/","changelog_uri":"https://github.com/rubocop/rubocop/blob/master/CHANGELOG.md","bug_tracker_uri":"https://github.com/rubocop/rubocop/issues","source_code_uri":"https://github.com/rubocop/rubocop/","documentation_uri":"https://docs.rubocop.org/rubocop/1.23/","rubygems_mfa_required":"true"},"yanked":false,"sha":"0b0b110eb9309a750d02f4549dfdc5399d3384ddfd6758cb3e4bd3551a5e3b0e","project_uri":"https://rubygems.org/gems/rubocop","gem_uri":"https://rubygems.org/gems/rubocop-1.23.0.gem","homepage_uri":"https://rubocop.org/","wiki_uri":null,"documentation_uri":"https://docs.rubocop.org/rubocop/1.23/","mailing_list_uri":null,"source_code_uri":"https://github.com/rubocop/rubocop/","bug_tracker_uri":"https://github.com/rubocop/rubocop/issues","changelog_uri":"https://github.com/rubocop/rubocop/blob/master/CHANGELOG.md","funding_uri":null,"dependencies":{"development":[{"name":"bundler","requirements":"\u003e=
        1.15.0, \u003c 3.0"}],"runtime":[{"name":"parallel","requirements":"~\u003e
        1.10"},{"name":"parser","requirements":"\u003e= 3.0.0.0"},{"name":"rainbow","requirements":"\u003e=
        2.2.2, \u003c 4.0"},{"name":"regexp_parser","requirements":"\u003e= 1.8, \u003c
        3.0"},{"name":"rexml","requirements":"\u003e= 0"},{"name":"rubocop-ast","requirements":"\u003e=
        1.12.0, \u003c 2.0"},{"name":"ruby-progressbar","requirements":"~\u003e 1.7"},{"name":"unicode-display_width","requirements":"\u003e=
        1.4.0, \u003c 3.0"}]}}'
  recorded_at: Sat, 27 Nov 2021 08:23:05 GMT
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/simplecov.json
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - F_Rails 52.88.209.40:443
      Etag:
      - '"f825572aa3df7b5ab0f166e1476436d6"'
    body:
      encoding: UTF-8
      string: '{"name":"simplecov","downloads":164816259,"version":"0.21.2","version[...]
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/vcr.json
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - F_Rails 52.88.209.40:443
      Etag:
      - '"6114051a723682762eaa684a869a6406"'
    body:
      encoding: UTF-8
      string: '{"name":"vcr","downloads":55636566,"version":"6.0.0","version_created_at":"[...]
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/webmock.json
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - F_Rails 44.239.42.136:443
      Etag:
      - '"8a22bac9e65ab7f6d0dea8c8facc8715"'
    body:
      encoding: UTF-8
      string: '{"name":"webmock","downloads":133482155,"version":"3.14.0","version_cr[...]
