---
http_interactions:
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/rails.json
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - F_Rails 44.239.42.136:443
      Etag:
      - '"2a381af85547d38965858ef140a692c3"'
    body:
      encoding: UTF-8
      string: '{"name":"rails","downloads":314753763,"version":"6.1.4.1","version_created_at":"2021-08-19T16:27:05.901Z","version_downloads":3825136,"platform":"ruby","authors":"David
        Heinemeier Hansson","info":"Ruby on Rails is a full-stack web framework optimized
        for programmer happiness and sustainable productivity. It encourages beautiful
        code by favoring convention over configuration.","licenses":["MIT"],"metadata":{"changelog_uri":"https://github.com/rails/rails/releases/tag/v6.1.4.1","bug_tracker_uri":"https://github.com/rails/rails/issues","source_code_uri":"https://github.com/rails/rails/tree/v6.1.4.1","mailing_list_uri":"https://discuss.rubyonrails.org/c/rubyonrails-talk","documentation_uri":"https://api.rubyonrails.org/v6.1.4.1/"},"yanked":false,"sha":"7f5dd7a71046aedb6859eb4288b31b738fb8544bd9fb27574085b58cbaa8a9f8","project_uri":"https://rubygems.org/gems/rails","gem_uri":"https://rubygems.org/gems/rails-6.1.4.1.gem","homepage_uri":"https://rubyonrails.org","wiki_uri":null,"documentation_uri":"https://api.rubyonrails.org/v6.1.4.1/","mailing_list_uri":"https://discuss.rubyonrails.org/c/rubyonrails-talk","source_code_uri":"https://github.com/rails/rails/tree/v6.1.4.1","bug_tracker_uri":"https://github.com/rails/rails/issues","changelog_uri":"https://github.com/rails/rails/releases/tag/v6.1.4.1","funding_uri":null,"dependencies":{"development":[],"runtime":[{"name":"actioncable","requirements":"=
        6.1.4.1"},{"name":"actionmailbox","requirements":"= 6.1.4.1"},{"name":"actionmailer","requirements":"=
        6.1.4.1"},{"name":"actionpack","requirements":"= 6.1.4.1"},{"name":"actiontext","requirements":"=
        6.1.4.1"},{"name":"actionview","requirements":"= 6.1.4.1"},{"name":"activejob","requirements":"=
        6.1.4.1"},{"name":"activemodel","requirements":"= 6.1.4.1"},{"name":"activerecord","requirements":"=
        6.1.4.1"},{"name":"activestorage","requirements":"= 6.1.4.1"},{"name":"activesupport","requirements":"=
        6.1.4.1"},{"name":"bundler","requirements":"\u003e= 1.15.0"},{"name":"railties","requirements":"=
        6.1.4.1"},{"name":"sprockets-rails","requirements":"\u003e= 2.0.0"}]}}'
  recorded_at: Sat, 27 Nov 2021 08:23:08 GMT
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/ranked-model.json
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - F_Rails 54.70.75.100:443
      Etag:
      - '"0853cc7b1fed227634c089b0d48fd228"'
    body:
      encoding: UTF-8
      string: '{"name":"ranked-model","downloads":4583604,"version":"0.4.7","vers[...]
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/pg.json
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - F_Rails 44.239.42.136:443
      Etag:
      - '"3e0e5dd2b97891705d84e62626e951b8"'
    body:
      encoding: UTF-8
      string: '{"name":"pg","downloads":164628995,"version":"1.2.3","version_created_at":"[...]
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/byebug.json
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - F_Rails 52.88.209.40:443
      Etag:
      - '"05239a406fbb5939a878d696029c24eb"'
    body:
      encoding: UTF-8
      string: '{"name":"byebug","downloads":175135002,"version":"11.1.3","version_creat[...]
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/web-console.json
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - F_Rails 44.239.42.136:443
      Etag:
      - '"ccdf551876e12d5f15495a75f420cde7"'
    body:
      encoding: UTF-8
      string: '{"name":"web-console","downloads":57710561,"version":"4.2.0","vers[...]
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/capybara.json
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - F_Rails 54.70.75.100:443
      Etag:
      - '"f0da00a4a9081dc59af5cc27b27c9f2e"'
    body:
      encoding: UTF-8
      string: '{"name":"capybara","downloads":127582876,"version":"3.36.0","version_c[...]
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/this_is_not_exist_gem.json
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - text/plain; charset=utf-8
    body:
      encoding: UTF-8
      string: This rubygem could not be found.
  recorded_at: Sat, 27 Nov 2021 08:23:09 GMT
recorded_with: VCR 6.0.0
