---
http_interactions:
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/httpclient.json
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - F_Rails 52.88.209.40:443
      Etag:
      - '"7b263cf6064afe064179776b20617d11"'
    body:
      encoding: UTF-8
      string: '{"name":"httpclient","downloads":175102246,"version":"2.8.3","version_created_at":"2016-12-09T05:58:57.436Z","version_downloads":141080180,"platform":"ruby","authors":"Hiroshi
        Nakamura","info":"gives something like the functionality of libwww-perl (LWP)
        in Ruby","licenses":["ruby"],"metadata":{},"yanked":false,"sha":"2951e4991214464c3e92107e46438527d23048e634f3aee91c719e0bdfaebda6","project_uri":"https://rubygems.org/gems/httpclient","gem_uri":"https://rubygems.org/gems/httpclient-2.8.3.gem","homepage_uri":"https://github.com/nahi/httpclient","wiki_uri":null,"documentation_uri":"https://www.rubydoc.info/gems/httpclient/2.8.3","mailing_list_uri":null,"source_code_uri":null,"bug_tracker_uri":null,"changelog_uri":null,"funding_uri":null,"dependencies":{"development":[],"runtime":[]}}'
  recorded_at: Mon, 29 Nov 2021 11:52:35 GMT
- request:
    method: get
    uri: https://api.github.com/repos/nahi/httpclient
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"d93d21acdad4ca9c197ddad5faf689471a5560bdb9ea00d106de02be4155b6d4"
      Last-Modified:
      - Wed, 17 Nov 2021 22:58:12 GMT
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '30'
      X-Ratelimit-Reset:
      - '1638188888'
      X-Ratelimit-Resource:
      - core
      X-Ratelimit-Used:
      - '30'
    body:
      encoding: UTF-8
      string: '{"id":354875,"node_id":"MDEwOlJlcG9zaXRvcnkzNTQ4NzU=","name":"httpclient","full_name":"nahi/httpclient","private":false,"owner":{"login":"nahi","id":44209,"node_id":"MDQ6VXNlcjQ0MjA5","avatar_url":"https://avatars.githubusercontent.com/u/44209?v=4","gravatar_id":"","url":"https://api.github.com/users/nahi","html_url":"https://github.com/nahi","followers_url":"https://api.github.com/users/nahi/followers","following_url":"https://api.github.com/users/nahi/following{/other_user}","gists_url":"https://api.github.com/users/nahi/gists{/gist_id}","starred_url":"https://api.github.com/users/nahi/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/nahi/subscriptions","organizations_url":"https://api.github.com/users/nahi/orgs","repos_url":"https://api.github.com/users/nahi/repos","events_url":"https://api.github.com/users/nahi/events{/privacy}","received_events_url":"https://api.github.com/users/nahi/received_events","type":"User","site_admin":false},"html_url":"https://github.com/nahi/httpclient","description":"''httpclient''
        gives something like the functionality of libwww-perl (LWP) in Ruby.","fork":false,"url":"https://api.github.com/repos/nahi/httpclient","forks_url":"https://api.github.com/repos/nahi/httpclient/forks","keys_url":"https://api.github.com/repos/nahi/httpclient/keys{/key_id}","collaborators_url":"https://api.github.com/repos/nahi/httpclient/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/nahi/httpclient/teams","hooks_url":"https://api.github.com/repos/nahi/httpclient/hooks","issue_events_url":"https://api.github.com/repos/nahi/httpclient/issues/events{/number}","events_url":"https://api.github.com/repos/nahi/httpclient/events","assignees_url":"https://api.github.com/repos/nahi/httpclient/assignees{/user}","branches_url":"https://api.github.com/repos/nahi/httpclient/branches{/branch}","tags_url":"https://api.github.com/repos/nahi/httpclient/tags","blobs_url":"https://api.github.com/repos/nahi/httpclient/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/nahi/httpclient/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/nahi/httpclient/git/refs{/sha}","trees_url":"https://api.github.com/repos/nahi/httpclient/git/trees{/sha}","statuses_url":"https://api.github.com/repos/nahi/httpclient/statuses/{sha}","languages_url":"https://api.github.com/repos/nahi/httpclient/languages","stargazers_url":"https://api.github.com/repos/nahi/httpclient/stargazers","contributors_url":"https://api.github.com/repos/nahi/httpclient/contributors","subscribers_url":"https://api.github.com/repos/nahi/httpclient/subscribers","subscription_url":"https://api.github.com/repos/nahi/httpclient/subscription","commits_url":"https://api.github.com/repos/nahi/httpclient/commits{/sha}","git_commits_url":"https://api.github.com/repos/nahi/httpclient/git/commits{/sha}","comments_url":"https://api.github.com/repos/nahi/httpclient/comments{/number}","issue_comment_url":"https://api.github.com/repos/nahi/httpclient/issues/comments{/number}","contents_url":"https://api.github.com/repos/nahi/httpclient/contents/{+path}","compare_url":"https://api.github.com/repos/nahi/httpclient/compare/{base}...{head}","merges_url":"https://api.github.com/repos/nahi/httpclient/merges","archive_url":"https://api.github.com/repos/nahi/httpclient/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/nahi/httpclient/downloads","issues_url":"https://api.github.com/repos/nahi/httpclient/issues{/number}","pulls_url":"https://api.github.com/repos/nahi/httpclient/pulls{/number}","milestones_url":"https://api.github.com/repos/nahi/httpclient/milestones{/number}","notifications_url":"https://api.github.com/repos/nahi/httpclient/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/nahi/httpclient/labels{/name}","releases_url":"https://api.github.com/repos/nahi/httpclient/releases{/id}","deployments_url":"https://api.github.com/repos/nahi/httpclient/deployments","created_at":"2009-10-30T02:23:41Z","updated_at":"2021-11-17T22:58:12Z","pushed_at":"2021-10-08T17:46:33Z","git_url":"git://github.com/nahi/httpclient.git","ssh_url":"git@github.com:nahi/httpclient.git","clone_url":"https://github.com/nahi/httpclient.git","svn_url":"https://github.com/nahi/httpclient","homepage":"https://github.com/nahi/httpclient","size":2400,"stargazers_count":686,"watchers_count":686,"language":"Ruby","has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":281,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":92,"license":null,"allow_forking":true,"is_template":false,"topics":[],"visibility":"public","forks":281,"open_issues":92,"watchers":686,"default_branch":"master","temp_clone_token":null,"network_count":281,"subscribers_count":28}'
  recorded_at: Mon, 29 Nov 2021 11:52:35 GMT
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/rake.json
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - F_Rails 54.70.75.100:443
      Etag:
      - '"7c651e40626c90282e0edb3dee3367a8"'
    body:
      encoding: UTF-8
      string: '{"name":"rake","downloads":526806359,"version":"13.0.6","version_created_a[...]
- request:
    method: get
    uri: https://api.github.com/repos/ruby/rake
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"0c655aa9493456097cae35249271ce2c1407d97dc701da0d291fa993f9dec8a9"
      Last-Modified:
      - Sun, 28 Nov 2021 09:10:30 GMT
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
 [...]
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/ruby-progressbar.json
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - F_Rails 44.239.42.136:443
      Etag:
      - '"91a46bc259e7cd67e33cf613bb25c18e"'
    body:
      encoding: UTF-8
      string: '{"name":"ruby-progressbar","downloads":207395891,"version":"1[...]
- request:
    method: get
    uri: https://api.github.com/repos/jfelchner/ruby-progressbar
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"8a39614a43ca2852c142837db57d5d97c6b43a54bf1a0cf8493d7d5631a19583"
      Last-Modified:
      - Mon, 29 Nov 2021 08:18:15 GMT
      X-Github-Media-Type:
      - github.v3; format=json
      X-R[...]
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/thor.json
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - F_Rails 52.88.209.40:443
      Etag:
      - '"2ca6017faba6875ff0dadb4e90a16bbe"'
    body:
      encoding: UTF-8
      string: '{"name":"thor","downloads":455202202,"version":"1.1.0","version_created_at[...]
- request:
    method: get
    uri: https://api.github.com/repos/erikhuda/thor
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.github.com/repositories/15257
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '27'
      X-Ratelimit-Reset:
      - '1638188888'
      X-Ratelimit-Resource:
      - core
      X-Ratelimit-Used:
      - '33'
    body:
      encoding: UTF-8
      string: '{"message":"Moved Permanently","url":"https://api.github.com/repositories/15257","documentation_url":"https://docs.github.com/v3/#http-redirects"}'
  recorded_at: Mon, 29 Nov 2021 11:52:37 GMT
- request:
    method: get
    uri: https://api.github.com/repositories/15257
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"d5e8d05996d2fa6a10cc2408265b05102c7f658533580097b5b84e5d14676ae6"
      Last-Modified:
      - Mon, 29 Nov 2021 01:26:34 GMT
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit[...]
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/rspec.json
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - F_Rails 52.88.209.40:443
      Etag:
      - '"c2a4592cfb0cb5a450a332dd714a965d"'
    body:
      encoding: UTF-8
      string: '{"name":"rspec","downloads":572633573,"version":"3.10.0","version_created[...]
- request:
    method: get
    uri: https://api.github.com/repos/rspec/rspec
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.github.com/repositories/239001
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '25'
      X-Ratelimit-Reset:
      - '1638188888'
      X-Ratelimit-Resource:
      - core
      X-Ratelimit-Used:
      - '35'
    body:
      encoding: UTF-8
      string: '{"message":"Moved Permanently","url":"https://api.github.com/repositories/239001","documentation_url":"https://docs.github.com/v3/#http-redirects"}'
  recorded_at: Mon, 29 Nov 2021 11:52:38 GMT
[...]
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/rubocop.json
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - F_Rails 54.70.75.100:443
      Etag:
      - '"d70e066248e710d6bcf77649087a642e"'
    body:
      encoding: UTF-8
      string: '{"name":"rubocop","downloads":193864617,"version":"1.23.0","version_created_at":"2021-11-15T08:10:45.792Z","version_downloads":366920,"platform":"ruby","authors":"Bozhidar
        Batsov, Jonas Arvidsson, Yuji Nakayama","info":"    RuboCop is a Ruby code
        style checking and code formatting tool.\n    It aims to enforce the community-driven
        Ruby Style Guide.\n","licenses":["MIT"],"metadata":{"homepage_uri":"https://rubocop.org/","changelog_uri":"https://github.com/rubocop/rubocop/blob/master/CHANGELOG.md","bug_tracker_uri":"https://github.com/rubocop/rubocop/issues","source_code_uri":"https://github.com/rubocop/rubocop/","documentation_uri":"https://docs.rubocop.org/rubocop/1.23/","rubygems_mfa_required":"true"},"yanked":false,"sha":"0b0b110eb9309a750d02f4549dfdc5399d3384ddfd6758cb3e4bd3551a5e3b0e","project_uri":"https://rubygems.org/gems/rubocop","gem_uri":"https://rubygems.org/gems/rubocop-1.23.0.gem","homepage_uri":"https://rubocop.org/","wiki_uri":null,"documentation_uri":"https://docs.rubocop.org/rubocop/1.23/","mailing_list_uri":null,"source_code_uri":"https://github.com/rubocop/rubocop/","bug_tracker_uri":"https://github.com/rubocop/rubocop/issues","changelog_uri":"https://github.com/rubocop/rubocop/blob/master/CHANGELOG.md","funding_uri":null,"dependencies":{"development":[{"name":"bundler","requirements":"\u003e=
        1.15.0, \u003c 3.0"}],"runtime":[{"name":"parallel","requirements":"~\u003e
        1.10"},{"name":"parser","requirements":"\u003e= 3.0.0.0"},{"name":"rainbow","requirements":"\u003e=
        2.2.2, \u003c 4.0"},{"name":"regexp_parser","requirements":"\u003e= 1.8, \u003c
        3.0"},{"name":"rexml","requirements":"\u003e= 0"},{"name":"rubocop-ast","requirements":"\u003e=
        1.12.0, \u003c 2.0"},{"name":"ruby-progressbar","requirements":"~\u003e 1.7"},{"name":"unicode-display_width","requirements":"\u003e=
        1.4.0, \u003c 3.0"}]}}'
  recorded_at: Mon, 29 Nov 2021 11:52:39 GMT
- request:
    method: get
    uri: https://api.github.com/repos/rubocop/rubocop
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"fe162da2d26b72a8154142b64e80e5071c507bbc0b2784ee00a7e64d92ae55fa"
      Last-Modified:
      - Mon, 29 Nov 2021 10:18:56 GMT
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Li[...]
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/simplecov.json
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - F_Rails 52.88.209.40:443
      Etag:
      - '"2d95355417ee618abe1ab10352155c54"'
    body:
      encoding: UTF-8
      string: '{"name":"simplecov","downloads":164912958,"version":"0.21.2","version[...]
- request:
    method: get
    uri: https://api.github.com/repos/simplecov-ruby/simplecov
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"a8b0baf89cd1edea70a574ccd32ca73c36151bfe263bcd2fd43090cb42b6b266"
      Last-Modified:
      - Sun, 28 Nov 2021 01:16:10 GMT
      X-Github-Media-Type:
      - github.v3; format=json
      X-Rat[...]
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/vcr.json
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - F_Rails 54.70.75.100:443
      Etag:
      - '"627982c3476ad43c1cce67608bdba77a"'
    body:
      encoding: UTF-8
      string: '{"name":"vcr","downloads":55665618,"version":"6.0.0","version_created_at":"[...]
- request:
    method: get
    uri: https://api.github.com/repos/vcr/vcr
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"40759c7c8ed13d4713e19c254a6936de42126b8901b9dca068260678dc01f38b"
      Last-Modified:
      - Mon, 29 Nov 2021 08:33:34 GMT
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
   [...]
- request:
    method: get
    uri: https://rubygems.org/api/v1/gems/webmock.json
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - F_Rails 44.239.42.136:443
      Etag:
      - '"5175bdd2ed8eb3d1a08a1d5e00680ff2"'
    body:
      encoding: UTF-8
      string: '{"name":"webmock","downloads":133568310,"version":"3.14.0","version_cr[...]
- request:
    method: get
    uri: https://api.github.com/repos/bblimke/webmock
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"24080aaf976e7d99f3bf4567244d3afc288e9dc4d64d896da85029138394dbdc"
      Last-Modified:
      - Sun, 28 Nov 2021 12:27:03 GMT
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Li[...]
